In [1]:
%%javascript

Jupyter.keyboard_manager.command_shortcuts.remove_shortcut('up');
Jupyter.keyboard_manager.command_shortcuts.remove_shortcut('down');

# Week 1 Homework

In [2]:
import pandas as pd

## Q1. Downloading the data
We'll use the same NYC taxi dataset, but instead of "Green Taxi Trip Records", we'll use "Yellow Taxi Trip Records".

Download the data for January and February 2023.

Read the data for January. How many columns are there?

In [3]:
# !wget "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet" -O "./data/yellow_tripdata_2023-01.parquet"
# !wget "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet" -O "./data/yellow_tripdata_2023-02.parquet"

In [4]:
df_jan = pd.read_parquet("./yellow_tripdata_2023-01.parquet")

In [5]:
df_jan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[us](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB

In [6]:
# Or
len(df_jan.columns)

19

### Answer:
There are 19 columns in the January dataframe!

***

## Q2. Computing duration
Now let's compute the duration variable. It should contain the duration of a ride in minutes.

What's the standard deviation of the trips duration in January?

In [7]:
df_jan['duration'] = df_jan.tpep_dropoff_datetime - df_jan.tpep_pickup_datetime
df_jan.duration = df_jan.duration.apply(lambda td: td.total_seconds() / 60.0)

In [8]:
df_jan.duration

0           8.433333
1           6.316667
2          12.750000
3           9.616667
4          10.833333
             ...
3066761    13.983333
3066762    19.450000
3066763    24.516667
3066764    13.000000
3066765    14.400000
Name: duration, Length: 3066766, dtype: float64

In [9]:
df_jan.duration.std()

42.594351241920904

### Answer:
Standard deviation of trips in January is 42.59

***

## Q3. Dropping outliers
Next, we need to check the distribution of the duration variable. There are some outliers. Let's remove them and keep only the records where the duration was between 1 and 60 minutes (inclusive).

What fraction of the records left after you dropped the outliers?

In [10]:
# Length before dropping outliers
total_jan_length = len(df_jan)
total_jan_length

3066766

In [11]:
df_jan = df_jan[(df_jan.duration >= 1) & (df_jan.duration <= 60)]

In [12]:
# Length after filtering outliers
filtered_jan_length = len(df_jan)
filtered_jan_length

3009173

In [13]:
# Fraction
filtered_jan_length / total_jan_length

0.9812202822125979

### Answer:
Fraction of records left after dropping outliers: %98

***

## Q4. One-hot encoding
Let's apply one-hot encoding to the pickup and dropoff location IDs. We'll use only these two features for our model.

* Turn the dataframe into a list of dictionaries (remember to re-cast the ids to strings - otherwise it will label encode them)
* Fit a dictionary vectorizer
* Get a feature matrix from it

What's the dimensionality of this matrix (number of columns)?

In [14]:
from sklearn.feature_extraction import DictVectorizer

In [15]:
categorical = ["PULocationID", "DOLocationID"]

In [16]:
df_jan.loc[:, categorical] = df_jan[categorical].astype(str)

C:\Users\user\AppData\Local\Temp\ipykernel_8792\2308668283.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['161' '43' '48' ... '114' '230' '262']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_jan.loc[:, categorical] = df_jan[categorical].astype(str)
C:\Users\user\AppData\Local\Temp\ipykernel_8792\2308668283.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['141' '237' '238' ... '239' '79' '143']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_jan.loc[:, categorical] = df_jan[categorical].astype(str)

In [ ]:
jan_dicts = df_jan.loc[:, categorical].to_dict(orient="records")

In [ ]:
dv = DictVectorizer(sparse=False)

In [ ]:
jan_matrix = dv.fit_transform(jan_dicts)
jan_matrix.shape